body {
  background-color: #EDF6E5;;
  }

  h1 {
color : #EDF6E5;
    }

h3 {
  color : #EDF6E5;

}
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
